@use "../../base/variables.scss" as *;

.container {
  display: flex;
  flex-direction: column;
}
.header {
  display: flex;
  justify-items: center;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;
}
.burgerBtn {
  background-color: inherit;
  border: none;
}

.icon {
  stroke: var(--white);
  width: 32px;
  height: 32px;
}

.burgerBtn {
  display: block; // Показуємо на мобілці
  background: none;
  border: none;

  //   @include tablet {
  //     display: none;
  //   }
}
.navigation {
  display: flex;
  flex-direction: column;
  gap: 25px;
  color: var(--white);
}

// .navigation,
// .logOutBtn,
.username {
  display: none; // Ховаємо основні елементи на мобілці

  //   @include tablet {
  //     display: flex;
  //   }
}

/* Стилі для MobileMenu Backdrop */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  z-index: 100;
}

.menuContent {
  position: absolute;
  right: 0;
  width: 80%;
  height: 100%;
  background-color: var(--green);
  padding: 20px;
  z-index: 9999;
}
.logOutBtn {
  display: flex;
  margin-right: auto;
  background-color: inherit;
  border: none;
  padding: 0;
  gap: 6px;
  color: var(--white);
  align-items: center;
}
.iconAr {
  width: 16px;
  height: 16px;
  stroke: var(--white);
}
.pageN {
  color: var(--white);
}

.link {
  font-weight: 500px;
}
.activeLink {
  display: flex;
  margin-right: auto;
  padding: 12px 20px;
  background-color: var(--white);
  border-radius: 15px;
  color: var(--black);
}
