.modalContent {
  display: flex;
  flex-direction: column;
  //   position: absolute;
  //   top: 50%;
  //   left: 50%;
  //   transform: translate(-50%, -50%);
  //   background-color: #fff;
  //   padding: 20px;
  //   border-radius: 8px;
  //   box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  //   width: 400px;
  //   text-align: center;
}

.answersWrapper {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
}

.answersWrapper p {
  font-size: 16px;
}
.noAnswers {
  font-size: 18px;
  color: #b21a1a;
}
.titleWellDone {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
