.locationContainer {
  /* margin: 10px; */
  /* padding: 5px; */
  margin-bottom: 10px;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
}

/* .locationContainer label {
  font-weight: bold;
  margin-bottom: 5px; 
}

.locationContainer input {
  padding: 8px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
} */
.locationContainer input {
  border-radius: 10px;
  /* padding: 18px 218px 18px 18px; */
  padding-left: 40px;
  width: 360px;
  height: 56px;
  background-color: #f7f7f7;
  border: none;
}

.locationContainer label {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #475467;
}

.inputWrapper {
  display: flex;
  position: relative;
  align-items: center;
}

.icon {
  fill: none;
  stroke: black;
  position: absolute;
  left: 10px;
  width: 20px;
  height: 20px;
  pointer-events: none; /* Чтобы иконка не мешала взаимодействовать с input */
}
