.input {
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 18px 282px 18px 18px;
  width: 400px;
  height: 56px;
  border: none;
  margin-bottom: 14px;
}

.page {
  display: flex;
  margin-bottom: 26px;
  flex-wrap: wrap;
  gap: 18px;
}

.textarea {
  resize: none; /* Заборона зміни розміру текстової області */
  width: 400px;
  height: 114px;
  border: none;
  background-color: #f7f7f7;
  border-radius: 10px;
  padding: 18px 282px 18px 18px;
}

.btn {
  margin-top: 24px;
  border-radius: 200px;
  padding: 16px 60px;
  width: 160px;
  height: 56px;
  background-color: #e44848;
  border: none;
  color: white;
}

.error {
  font-size: 12px;
  color: orangered;
  position: absolute;
  top: 22px;
  left: 120px;
}

.formGroup {
  position: relative;
}
