.menuWrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: aliceblue;
  align-items: flex-start;
  padding: 5px;
}
.menuBtn {
  border: none;
  background-color: inherit;
}
