@font-face {
  font-family: "MacPaw Fixel Display"; /* Назва шрифту */
  src: url("/fonts/FixelDisplay-ExtraBoldItalic.woff2") format("woff2");

  font-weight: normal; /* Вага шрифту (Regular) */
  font-style: normal; /* Стиль шрифту */
  font-display: swap; /* Стратегія відображення */
}
