.item {
  width: 886px;
  height: 358px;
  border: 1px solid rgba(16, 24, 40, 0.2);
  border-radius: 20px;
  display: flex;
  padding: 24px;
  gap: 22px;
}

.page {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; /* Додає три крапки (...) */
  width: 560px;
  margin-bottom: 26px;
  font-size: 16px;
}

.containerImg {
  max-width: 290px;
  height: 310px;
  border-radius: 10px;
  overflow: hidden;
}

.itemHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 18px;
  font-size: 24px;
  font-weight: 600;
}

.camperOpcion {
  border-radius: 100px;
  padding: 12px 18px;
  display: inline-flex;
  height: 44px;
  background: #f2f4f7;
  align-items: center;
  margin-right: 8px;
  margin-bottom: 8px;
  font-size: 16px;
  gap: 8px;
}

.iconns {
  fill: none;
  stroke: black;
}
.pagePrice {
  align-items: center;
  display: flex;
  gap: 12px;
}

.optionalList {
  justify-content: space-between;
  align-items: center;
}

.iconns12 {
  fill: none;
  stroke: #e44848;
}

.camperIcon {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
.button {
  border-radius: 200px;
  padding: 16px 40px;
  width: 166px;
  height: 56px;
  color: #ffffff;
  background-color: #e44848;
  border: none;
  margin-top: 18px;
}
.buttonFavorites {
  width: 24px;
  height: 24px;
  align-items: center;
  display: flex;
  margin: 0;
  padding: 0;
  border: none;
  background-color: white;
}
.iconnsRed {
  stroke: red;
  fill: red;
}
